body {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #c5c5c5;
}

#chatbox {
    height: calc(100vh - 50px);
    border: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#inputForm {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #252526;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
}

#inputField {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #3c3c3c;
    background-color: #3c3c3c;
    color: #d4d4d4;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: #393a3a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4d4f4f;
}

.message {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    box-sizing: border-box;
    box-shadow: 0 1px 0.5px rgba(255, 255, 255, 0.1); 
    font-size: 14px; 
}

.message::before {
    content: attr(data-username);
    margin-bottom: 5px;
    font-weight: bold;
    color: #858585; 
    font-size: 12px; 
}

.hljs-copy {
    float: right;
    cursor: pointer;
    background-image: url('../img/copy-icon.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    width: 24px; 
    height: 24px; 
    border: none; 
    padding: 0; 
    text-indent: -9999px; 
}

.hljs-copied {
    background-image: none;
    text-indent: 0;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60px;
    margin: 10px auto;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    animation: shine 1.4s infinite ease-in-out both;
}

.dot:nth-child(1) {
    animation-delay: -0.32s;
}

.dot:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes shine {
    0%, 80%, 100% {
        transform: scale(0);
        opacity: 0;
    }
    40% {
        transform: scale(1);
        opacity: 1;
    }
}